.container {
  min-height: 100vh;
  padding: 30vh 0 0 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container-exit {

}

.container-exit-active {
  padding: 10vh 0 0 0;
  transition: padding 500ms;
}

.container-exit-done {
  padding: 10vh 0 0 0;
}

.title {
  margin: 0 0 2rem 0;
  font-size: 4rem;
  width: 11rem;
  word-break: break-all;
  color: var(--primary-color-1);
  text-shadow: 4px 4px var(--secondary-color-1);
  text-align: center;
}