@keyframes shake {
  0%, 69% ,100% {
    transform: translateX(0);
  }
  70%, 90% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
}

.container,
.container-exit {
  min-height: 100vh;
  padding: 30vh 0 0 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container-exit-active {
  padding: 10vh 0 0 0;
  transition: padding 500ms;
}

.container-exit-done {
  padding: 10vh 0 0 0;
}

.title {
  margin: 0 0 2rem 0;
  font-size: 4rem;
  width: 11rem;
  word-break: break-all;
  color: var(--primary-color-1);
  text-shadow: 4px 4px var(--secondary-color-1);
  text-align: center;
}

.warning {
  position: absolute;
  bottom: 0;
  margin: auto 10% 2rem 10%;
  padding: 2rem 4rem;
  width: 80%;
  background-color: var(--warning-background);
  color: var(--primary-color-1);
  border: 0.25rem solid var(--secondary-color-1);
  border-radius: 1rem;
  display: none;
}

.warning > h3 {
  margin-bottom: 0.5em;
}

.warning.warning-enter {
  display: block;
  font-size: 0;
  max-height: 0;
  margin: auto 10% 2rem 10%;
  padding: 0;
  border-width: 0;
}

.warning.warning-enter-active {
  display: block;
  font-size: 0.75rem;
  max-height: 100vh;
  padding: 2em 4em;
  border-width: 0.25;
  transition-property: font-size, max-height, border-width, padding, color;
  transition-duration: 250ms;
}

.warning.warning-enter-done {
  display: block;
  font-size: 0.75rem;
  max-height: 100vh;
  padding: 2em 4em;
  border-width: 0.25;
  animation: shake 0.5s;
}

.warning.warning-exit {
  display: block;
  font-size: 0.75rem;
  max-height: 100vh;
  padding: 2em 4em;
  border-width: 0.25;
}

.warning.warning-exit-done {
  display: block;
  font-size: 0;
  max-height: 0;
  margin: auto 10% 2rem 10%;
  padding: 0;
  border-width: 0;
  transition-property: font-size, max-height, border-width, padding, color;
  transition-duration: 250ms;
}


@media only screen and (min-width: 768px) {
  .title {
    font-size: 6rem;
    width: auto;
    word-break: normal;
  }

  .warning {
    margin: auto 15% 2rem 15%;
    padding: 2rem 4rem;
    width: 70%;
    border: 0.4rem solid var(--secondary-color-1);
  }
  
  .warning > h3 {
    margin-bottom: 0.5em;
  }
  
  .warning.warning-enter {
    margin: auto 15% 2rem 15%;
  }
  
  .warning.warning-enter-active {
    font-size: 1rem;
    padding: 3em 6em;
    border-width: 0.4rem;
    transition-property: font-size, max-height, border-width, padding, color;
    transition-duration: 250ms;
  }
  
  .warning.warning-enter-done {
    font-size: 1rem;
    padding: 3em 6em;
    border-width: 0.4rem;
  }
  
  .warning.warning-exit {
    font-size: 1rem;
    padding: 3em 6em;
    border-width: 0.4rem;
  }
  
  .warning.warning-exit-done {
    margin: auto 15% 2rem 15%;
  }
}

@media only screen and (min-width: 1024px) {
  .title {
    font-size: 7rem;
  }

  .warning {
    margin: auto 20% 2rem 20%;
    width: 60%;
    border: 0.5rem solid var(--secondary-color-1);
  }
  
  .warning > h3 {
    margin-bottom: 0.5em;
  }
  
  .warning.warning-enter,
  .warning.warning-exit-done {
    margin: auto 20% 2rem 20%;
  }

  .warning.warning-enter-active,
  .warning.warning-enter-done,
  .warning.warning-exit {
    font-size: 1rem;
    padding: 2em 4em;
    border-width: 0.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .title {
    font-size: 8rem;
  }

  .warning {
    margin: auto 25% 3rem 25%;
    width: 50%;
    border: 0.5rem solid var(--secondary-color-1);
  }
  
  .warning > h3 {
    margin-bottom: 0.5em;
  }
  
  .warning.warning-enter,
  .warning.warning-exit-done {
    margin: auto 25% 3rem 25%;
  }

  .warning.warning-enter-active,
  .warning.warning-enter-done,
  .warning.warning-exit {
    font-size: 1rem;
    padding: 2em 4em;
    border-width: 0.5rem;
  }
}

@media only screen and (min-width: 1920px) {
  .warning {
    margin: auto 30% 3rem 30%;
    width: 40%;
    border: 0.5rem solid var(--secondary-color-1);
  }
  
  .warning > h3 {
    margin-bottom: 0.5em;
  }
  
  .warning.warning-enter,
  .warning.warning-exit-done {
    margin: auto 30% 3rem 30%;
  }

  .warning.warning-enter-active,
  .warning.warning-enter-done,
  .warning.warning-exit {
    font-size: 1rem;
    padding: 2.5em 5em;
    border-width: 0.5rem;
  }
}

@media only screen and (min-width: 2560px) {
  .warning {
    margin: auto 35% 3rem 35%;
    width: 30%;
    border: 0.5rem solid var(--secondary-color-1);
  }
  
  .warning > h3 {
    margin-bottom: 0.5em;
  }
  
  .warning.warning-enter,
  .warning.warning-exit-done {
    margin: auto 35% 3rem 35%;
  }

  .warning.warning-enter-active,
  .warning.warning-enter-done,
  .warning.warning-exit {
    font-size: 1rem;
    padding: 2.5em 5em;
    border-width: 0.5rem;
  }
}