:root {
  --primary-color-1: #EDF2F4;
  --primary-color-2: #8D99AE;
  --secondary-color-1: #EF233C;
  --secondary-color-2: #D90429;
  --background-color: #2B2D42;
  --main-button-width: 4rem;
  --main-button-height: 4rem;
  --main-button-border-width: 0.25rem;
  --main-button-triangle-width: 1rem;
  --main-button-triangle-height: 1rem;
  --main-button-triangle-border-width: 0.5rem 0 0.5rem 1rem;
  --main-button-reloader-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}